body {
  font-family: "Roboto Condensed", "Open Sans", 'Gloria Hallelujah', "cursive" "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: #fdfdfd;
}
.img-center {
	margin: 30px auto;
}
}